/**
 *权限样式
 */
.role-box h3{font-weight: bolder;font-size: 16px;font-family: "Microsoft YaHei"}
.role-box h3 a{font-size: 13px}
.role-box dl{overflow: hidden;}
.role-box dt{line-height: 40px;border-bottom: 1px dashed #eee;}
.role-box dd{float: left;height: 30px;line-height: 30px;width: 190px}
.role-box dd span{font-size: 15px;}
.role-box dd span a{font-size: 14px;}

/**
添加样式
 */
.ad-error{color:red;}



.custom-tab ul.nav-tabs{
    border-bottom: 1px solid #eee;
}