<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
<!--顶部-->
	<div class="top">
		<div class="center clear">
			<div class="left fl">
			欢迎来到<a href="#">伊米蛋糕屋</a>
			</div>
			<div class="right fr">
				<a href="">登录</a>
				<a href="">注册</a>
				<a href="">我的账户</a>
				<a href="">付款方式</a>
				<a href="">订单查询</a>
				<a href="">帮助中心</a>
			</div>
		</div>
	</div>
<!--================================头部===================================-->
	<div class="header">
	    <div class="center clear">
	    	<div class="left fl">
	    	    <a href="#">
	    	    	<img src="images/logo.png" style="width: 200px">
	    	    </a>
		    </div>
		    <div class="inner fl">
		    	<form action="" method="get">
		    	    <div class="search clear">
		    	       <div class="search-left">
                            <input type="text" name="q" class="search-input">
		    	       </div>
		    	       <div class="search-right fl">
		    	            <button class="search-btn">搜索</button>
		    	       </div>
		    	       <div class="hot-words">
		    	           <a href="#"><b>草莓蛋糕</b></a>
		    	           <a href="#">芝士蛋糕</a>
		    	           <a href="#">米奇蛋糕</a>
		    	           <a href="#"><b>鲜花</b></a>
		    	       </div>
		    	    </div>   
		    	</form>
		    </div>

		    <div class="right fl">
		    	<div class="cart">
		    	    <span>我的购物车</span>
		    	    <a href="#">2</a>
		    	</div>
		    </div>
	    </div>
		
	</div>
<!--================================导航==================================-->
	<div class="nav">
	    <div class="center">
            <div class="nav-left fl">
	    	    <a href="#" style="color: #fff;background: #f95d50;display: inline-block;width: 230px">全部商品分类</a>
	    	    <div class="category" style="display: none;">
	    	    	<div class="part">
	    	    		<b>蛋糕</b>
	    	    		<ul>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">草莓蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    		</ul>
	    	    	</div>
	    	    	<div class="part">
	    	    		<b>鲜花</b>
	    	    		<ul>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    			<li>
	    	    				<a href="#">芝士蛋糕</a>
	    	    			</li>
	    	    		</ul>
	    	    	</div>
	    	    </div>
		    </div>
			<ul class="nav-inner fl">
				<li class="act"><a href="#">首页</a></li>
				<li><a href="#">蛋糕</a></li>
				<li><a href="#">鲜花</a></li>
				<li><a href="#">水果蛋糕</a></li>
				<li><a href="#">生日蛋糕</a></li>
				<li><a href="#">祝寿蛋糕</a></li>
				<li><a href="#">儿童蛋糕</a></li>
			</ul>
			<div class="nav-right fr">
				客户至上  <span>|</span>  诚信是金
			</div>
	    </div>
	</div>
<!--顶部结束公用-->


<!--内容开始-->
<!--================================个人中心开始==================================-->

<div class="user">
	<div class="center">
		<div class="user-left">
			<div class="usernum">
				<p>账号：12974855@qq.com</p>
			</div>
			<dl>
				<dt><a href="javascript:void(0)" class="user-info">个人中心</a></dt>
				<dd class="cur"><a href="#">基本信息</a></dd>
				<dd><a href="#">联系方式</a></dd>
				<dd><a href="#">修改密码</a></dd>
			</dl>
			<dl>
				<dt><a href="javascript:void(0)" class="user-orders">我的订单</a></dt>
				<dd><a href="#">订单明细</a></dd>
			</dl>
			<dl>
		        <dt><a href="javascript:void(0)" class="user-collect">我的足迹</a></dt>
		        <dd><a href="#">收藏展示</a></dd>
		        <dd><a href="#">积分获得</a></dd>
		    </dl>
		</div>
		<div class="user-right">
			<div class="right-title">
				<span>基本信息</span>
			</div>
			<div class="user-content">
				<div class="user-form">
					<form>
						<div class="box_baseinfo">
							<span>邮箱地址:</span>
							<input type="text" name="emial" disabled="disabled" value="56166115@qq.com">
						</div>
						<div class="box_baseinfo">
							<span>昵&nbsp;&nbsp;&nbsp;&nbsp;称:</span>
							<input type="text" name="emial">
						</div>
						<div class="box_baseinfo">
							<span>姓&nbsp;&nbsp;&nbsp;&nbsp;名:</span>
							<input type="text" name="emial">
						</div>
						<div class="box_baseinfo">
							<span>手&nbsp;&nbsp;&nbsp;&nbsp;机:</span>
							<input type="text" name="emial">
						</div>
						<div class="box_baseinfo">
							<span>性&nbsp;&nbsp;&nbsp;&nbsp;别:</span>
							<select name="sex">
								<option value="1">男</option>
								<option value="2">女</option>
							</select>
						</div>
						<div class="re-sub">
							<input type="button" value="保存">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!--================================个人中心结束==================================-->

<!--内容结束-->

<!--侧边开始-->
<div class="sidebar">
	<ul>
		<li class="s-service">
			<a href="#" title="在线客服">在线客服</a>
			<i></i>
		</li>
		<li class="s-user">
			<a href="#" title="个人中心">个人中心</a>
			<i></i>
		</li>
		<li class="s-cart">
			<a href="#" title="购物车">购物车</a>
		    <i></i>
		</li>
		<li class="s-top">
		    <a href="#" title="返回顶部">返回顶部</a>
		    <i></i>
		</li>
	</ul>
</div>
<!--侧边结束-->

<!--底部开始-->
	<div class="footer">
	   <div class="center">
	   	  <dl class="f-link">
	   	    <dt>购物指南</dt>
	   	    <dd>
	   	  	  <a href="#">购物流程</a>
	   	    </dd>
	   	    <dd>
	   	  	  <a href="#">会员详情</a>
	   	    </dd>
	   	    <dd>
	   	  	  <a href="#">联系客服</a>
	   	    </dd>     
	      </dl>
	      <dl class="f-link">
	   	    <dt>购物指南</dt>
	   	    <dd>
	   	  	  <a href="#">购物流程</a>
	   	    </dd>
	   	    <dd>
	   	  	  <a href="#">会员详情</a>
	   	    </dd>
	   	    <dd>
	   	  	  <a href="#">联系客服</a>
	   	    </dd>     
	      </dl>
	      <dl class="f-link">
	   	    <dt>购物指南</dt>
	   	    <dd>
	   	  	  <a href="#">购物流程</a>
	   	    </dd>
	   	    <dd>
	   	  	  <a href="#">会员详情</a>
	   	    </dd>
	   	    <dd>
	   	  	  <a href="#">联系客服</a>
	   	    </dd>     
	      </dl>
	      <dl class="f-link">
	   	    <dt>购物指南</dt>
	   	    <dd>
	   	  	  <a href="#">购物流程</a>
	   	    </dd>
	   	    <dd>
	   	  	  <a href="#">会员详情</a>
	   	    </dd>
	   	    <dd>
	   	  	  <a href="#">联系客服</a>
	   	    </dd>     
	      </dl>
	      <dl class="f-link">
	   	    <dt>购物指南</dt>
	   	    <dd>
	   	  	  <a href="#">购物流程</a>
	   	    </dd>
	   	    <dd>
	   	  	  <a href="#">会员详情</a>
	   	    </dd>
	   	    <dd>
	   	  	  <a href="#">联系客服</a>
	   	    </dd>     
	      </dl>
	      <dl class="f-link">
	   	    <dt>联系我们</dt>
	   	    <dd>
	   	  	  <a href="#">联系我们</a>
	   	    </dd>   
	      </dl>
	      <div class="connection">
	      	  <p class="phone">400-658-1177</p>
	      	  <p><span>周一至周日 24小时服务</span></p>
	      	  <a href="#" class="btn">24小时在线客服</a>
	      </div>
	   </div>
	</div>
<!--底部结束-->	
    <div class="copyright center">
        甘肃ICP备060194 | yiiframework All Rights Reserved  
     <a target="_blank" href="#">关于我们</a> 
     <a target="_blank" href="#">联系我们</a>
    </div>
</body>
</html>